<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Stores</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
    </style>
</head>
<body>
    <h1>Welcome to Department Store</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">Departments</a></li>
            <li><a href="#contact">Products</a></li>
            <li style="float:right"><a class="active" href="#about">Login or Sign Up</a></li>
          </ul>
    </nav>
    <main>
        <h1>Welcome to Department Store</h1>
        <div>
            <h3>Business Owner</h3>
            <p>Create an account so you can add your department, add product within your department, edit and delete</p>
        </div>
        <div>
            <h3>Shopper</h3>
            <p>Welcome to Department Store. You can view different departments and their products.</p>
        </div>
    </main>
    <footer>
        <p>author: Group Project</p>
    </footer>
</body>
</html>