<main class="homepage">
  <h3>About Department Store</h3>
  <p>Department Store is an online ecommerce company that 
    connect sellers and shoppers. Created in Washington 
    State in August 2020, you can rely on this Department Store to for all your need.</p>
  <h3>Business Owner</h3>
  <p>
    Create an account so you can add your department, 
    add product within your department, edit and delete.
    You can be a shopper if you want. Please free to view all the 
    different department and buy their product if you need it.
  </p>
  <h3>
    Shopper
  </h3>
  <p>
    Welcome to the Department Store. 
    You can view different departments and their products. 
    You also have the option to buy products.
    If you have any question, please direct it to the specific department.
    As a shopper, you can also be a business owner. You just need to create an account, 
    add your department store and add your products that you want to sell.  
  </p>
  
</main>