<main>
  <h3>Business Owner</h3>
<p>
  Create an account so you can add your department, add product within your department, edit and delete
</p>
<h3>
  Shopper
</h3>
<p>
  Welcome to Department Store. You can view different departments and their products.
</p>

</main>