<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Department Store</title>
</head>

<body>
    <h1>Welcome to the Department Store</h1>
    <nav>
        <ul>
            <li><a href="/Store">Home</a></li>
            <li><a href="/Store/Depts/">Departments</a></li>
            <li><a href="/Store/Products/">Products</a></li>
            <li style="float:right"><a class="active" href="#about">Login or Sign Up</a></li>
        </ul>
    </nav>
    <%- body %>
</body>

</html>