<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Department Store</title>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Welcome to the Department Store</h1>
        <p>The one Place for all your business need</p> 
    </div>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/Store">Department Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/Store">Home</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Store/Depts/">Departments</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Store/Products/">Products</a></li>
              </li>    
            </ul>
            <span class="navbar-text">
              <a class="nav-link" class="active" href="#about">Login/Sign Up</a>
            </span>
          </div>
        </div>  
      </nav>
    <%- body %>
</body>
</html>