<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!--import bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Department Store</title>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Welcome to the Department Store</h1>
        <p>The one Place for all your business need</p> 
    </div>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="/Store">Department Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/Store">Home</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Store/Depts/">Departments</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Store/Products/">Products</a></li>
              </li>    
            </ul>
            <span class="navbar-text">
              <a class="nav-link" class="active" href="/Store/Users">Login/Sign Up</a>
            </span>
          </div>
        </div>  
      </nav>

    <%- body %>

    <footer class="footer bg-light fixed-bottom">
      <div class="container-fluid">
        <span class="text-muted">
          <div>
            <p>Department Store</p>
          </div>
          <div>
            <a id="github" href="https://github.com/Dizzion/Department-Stores">Github</a>
          </div>
          <div>
            <p>Created by Alex, Sam and Boubacar</p>
          </div>
        </span>
      </div>
    </footer>
    <!-- <footer id="footer" class="jumbotron text-center" style="margin-bottom:0">
      <div>
        <p>Department Store</p>
      </div>
      <div>
        <p>Github</p>
      </div>
      <div>
        <p>Created by Alex, Sam and Boubacar</p>
      </div>
    </footer> -->
    
</body>
</html>