<main class="newuserpage">
    <h3>Enter Your Information Here</h3>
    <form action="/Store/Login" method="POST">
        Username: <input type="text" name="username" required/><br />
        Password: <input type="password" name="password" required/><br />
        Name (First and Last): <input type="text" name="name" required/><br />
        Email: <input type="email" name="email" required/><br />
        <input type="submit" name="" value="Add Account"/>
    </form>
</main>