<main>
    <form action="/Store/Depts/ <%=Dept._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=Dept.name %>" required> <br />
        <input type="text" name="productType" value="<%= Dept.productType %>" required> <br />

        <input type="submit" name="" value="Update Department" />
    </form>

</main>