<main>
    <form action="/Store/Depts/ <%=Depts._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value= "<%=Depts.name %>" required> <br/>
    <input type="text" name="productType" value= "<%= Depts.productType %>" required> <br/>

    <input type="submit" value ="Update Department"/>
    </form>

</main>