<main class="indexDept">
    <div class="Departments">
        <h3>List of all Departments</h3>
        <div class="container-fluid row">
        <% Dept.forEach(departments => { %>
            <div class="card" style="width: 18rem;">
                <img src="<%=departments.img%>" class="card-img-top" alt="No Image for Department">
                <div class="card-body">
                  <h5 class="card-title"><%=departments.name%></h5>
                  <a href="/Store/Depts/<%=departments._id%>" class="btn btn-primary">Go to Department</a>
                </div>
              </div>
        <% }) %>
        </div>
    </div>
    <div>
        <a class="btn btn-success" href="/Store/Depts/new">Add a New Department</a>
    </div>
</main>