<main>
    <div class="Departments">
        <h3>List of all Departments</h3>
        <% Dept.forEach(departments => { %>
        <li>
            <a href="/Store/Depts/<%= departments._id%>"> <%= departments.name %> </a>
        </li>
        <% }) %>
    </div>
    <div>
        <a href="/Store/Depts/new">Add a New Department</a>
    </div>
</main>