<main>
    <div class="Departments">
        <h3>List of all Departments</h3>
        <p>
        <% Dept.forEach(departments => { %>
            <a href="/Store/Depts/<%= departments._id%>"> <%= departments.name %> </a> <br />
        </p>
        <% }) %>
    </div>
    <div>
        <a href="/Store/Depts/new">Add a New Department</a>
    </div>
</main>