<main class="newDept">
    <h3>Please Fill out the Form to add your Department to the Store</h3>

    <body class="text-center">
        <form class="form-signin" action="/Depts/" method="post">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Name of Department" required=""
                autofocus="">

            <label for="inputType" class="sr-only">Password</label>
            <input type="text" name="productType" id="inputType" class="form-control" placeholder="Type of Products Sold" required="">

            <label for="inputImg" class="sr-only">Image</label>
            <input type="text" name="img" id="inputImg" class="form-control" placeholder="Image Url" required="">
            <button class="btn btn-lg btn-success btn-block" type="submit">Submit Department</button>
        </form>


    </body>
</main>