<main>
    <h3>Please Fill out the Form to add your Department to the Store</h3>
    <form action="/Store/Depts" method="post">
        Name: <input type="text" name="name" required> <br />
        Type Of Product: <input type="text" name="productType"> <br />
        <input type="submit" value="Add Department">
    </form>
</main>