<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Please Fill out the Form to add your Department Store</h3>
    <form action="/Store/Depts" method="post">
        Name: <input type="text" name="name" required> <br />
        Type Of Product: <input type="text" name="productType"> <br />
        <input type="submit" value="Add Departments">
    </form>
</body>
</html>