<main>
    <h1>Welcome to <%=Dept.name%> Department</h1>
    <h2>This Department Sells <%=Dept.productType%> Products</h2>
    <section>
        <h3>Products</h3>
        <ul>
            <% Dept.products.forEach(product => { %>
            <li>
                <a href="/Store/Products/<%=product._id %>"><%= product.name %></a>
            </li>
            <% }) %>
        </ul>
    </section>
</main>