<main>
    <h3>List of all Departments</h3>
        <p>
        <% products.forEach(products => { %>
            Name: <a href="/Store/Products/<%= products._id%>"> <%= products.name %> </a> <br />
            Manufacturer: <%= products.manufacturer %> 
        </p>
        <% }) %>
    <div>
        <a href="/Store/Products/new">Add your Product</a>
    </div>
</main>