<main class="indexpage">
    <h3>List of all the Products</h3>
    <div class="container-fluid row">
        <% products.forEach(product => { %>
        <div class="card" style="width: 18rem;">
            <img class="img-responsive" src="<%=product.img%>" class="card-img-top" alt="No Product Image">
            <div class="card-body">
                <h5 id="price" class="card-title float-center">$ <%=product.price%></h5>
                <a href="/Products/<%=product._id%>" class="btn btn-primary float-center"><%=product.name%></a>
            </div>
        </div><br />
        <% }) %>   
         
    </div>
    <div>
        <a class="btn btn-success" href="/Products/new">Add New Product</a>
    </div>
</main>