<main>
    <h1>Welcome to Product Info</h1>
    <section>
        <h3>Products</h3>
        <ul>
            <% Dept.products.forEach(product => { %>
            <li>
                <a href="/Store/Products/<%=product._id %>"><%= product.name %></a>
            </li>
            <% }) %>
        </ul>
    </section>
</main>